
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: play;
    src: url('fonts/Play-Regular.ttf');
}

body {
    background-image: url('images/dark-space.png');
    font-family: play, sans-serif;
    color: #fefefe;
    position: relative;
}

.invisible {
    display: none;
}

header {
    width: 100vw;
    padding-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: play, sans-serif;
    font-size: 50px;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 30px #e500a4,
      0 0 62px #e500a4,
      0 0 72px #e500a4,
      0 0 82px #e500a4,
      0 0 131px #e500a4;
    text-align: center;
    display: flex;
   
}

main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.username-list-container {
    width: 300px;
    max-width: 100%;
    background-color: rgba(0,0,0,.7);
    height: 150px;
    position: absolute;
    max-height: 90%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border: 2px solid #e500a4;
    border-radius: 10px;
}

@media screen and (min-width: 1000px) {
    .username-list-container {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 250px;
    }
}


.username-list-container h3 {
    font-size: 25px;
    color:#fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 30px #e500a4,
    0 0 62px #e500a4,
    0 0 72px #e500a4,
    0 0 82px #e500a4,
    0 0 131px #e500a4;
}

#usernameList {
    margin-top: 10px;
}

#usernameList li h4 {
    font-size: 20px;
    color:#fefefe;
}


#usernameList {
    list-style: none;
}

#username-section {
    background-color: #0b090a;
    width: 700px;
    height: 400px;
    max-width: 100%;
    border: 3px solid #e500a4;
    border-radius: 10px;
    box-shadow: 0 20px 34px rgb(0 0 0 / 0.2);
}

#username-section h2 {
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 2em;
}

@media (max-width: 350px) {
    #username-section h2 {
        font-size: 1.5em;
    }
    h1 {
        font-size: 40px;
    }
}

#username-form {
    height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 100%;
    height: fit-content;
    position: relative;
}

.input-container label {
    position: absolute;
    left: 10px;
    top: -15px;
    background-color: #0b090a;
    padding: 5px 5px 5px 5px;
    z-index: 2;
}

@media (max-width: 500px) {
    #username-form {
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
}

#username-form div input {
    background-color: transparent;
    border: 2px solid #fff;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    overflow-y: visible;
    color: #fff;
    padding-left: 10px;
}

#submit-username {
    width: 300px;
    max-width: 90%;
    height: 40px;
    background-color: #e500a4;
    color: #fff;
    border-radius: 5px;
    font-family: 'play', sans-serif;
    border: none;
    cursor: pointer;
    transition: .5s;
}

#submit-username:hover {
    background-color: transparent;
    border: 2px solid #e500a4;
}


/* QUIZ SECTION */
.question1 {
    /* width: 500px;
    height: 400px;
    max-height: 100%;
    max-width: 100%; */
    background-color: rgba(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

.question-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.question-text-container h2 {
    color: #e500a4;
    font-size: 25px;
}

.question-text-container p {
    font-size: 20px;
}

.question1 img {
    width: auto;
    max-width: 100%;
    height: 400px;
}

.quiz-form {
    width: 100%;
    display: flex;
    gap: 5%;
}

.quiz-form input {
    width: 65%;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    padding-left: 10px;
    color: #fff;
    font-family: 'play', sans-serif;
    border: 2px solid #fff;
}

.quiz-form input::placeholder {
    color: #fff;
}

.quiz-form button {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background-color: #e500a4;
    border: none;
    font-family: 'play', sans-serif;
    cursor: pointer;
    transition: .5s;
}

.quiz-form button:hover {
    background-color: transparent;
    border: 2px solid #e500a4;
}

/* Quiz Questions */
#end {
   padding: 40px; 
}

.end-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#end h2 {
    font-size: 32px;
}

#end a {
    padding: 10px 20px 10px 20px;
    background-color: #e500a4;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'play', sans-serif;
    transition: .5s;
}

#end a:hover {
    border: 2px solid #e500a4;
    background-color: transparent;
}

